*.iml
.gradle
/local.properties
/.idea/**
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
/.vscode/settings.json
/.kotlin/*
/plugins/android-studio/.intellijPlatform/*

# Signing
keystore.properties
*.jks
*.keystore

# Release builds
app/release/

