<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azikar24.wormaceptor">

    <application
        >
        <activity
            android:name=".internal.ui.mainactivity.WormaCeptorMainActivity"
            android:exported="false"
            android:label="@string/app_name_2"
            android:launchMode="singleTask"
            android:theme="@style/Theme.WormaCeptorBase" />

        <service
            android:name=".internal.support.ClearTransactionsService"
            android:exported="false" />
        <service
            android:name=".internal.support.DismissNotificationService"
            android:exported="false" />
    </application>

</manifest>