<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ViewerActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.WormaCeptor.Viewer">

            <!-- Deep link intent filter for wormaceptor:// scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Handle wormaceptor://tools, wormaceptor://tools/*, etc. -->
                <data android:scheme="wormaceptor" />
            </intent-filter>
        </activity>

        <provider
            android:name=".WormaCeptorFileProvider"
            android:authorities="${applicationId}.wormaceptor.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/wormaceptor_file_paths" />
        </provider>
    </application>

</manifest>
